apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: {{ include "resource.default.name" $ }}-cloud-provider-vsphere
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.global.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    giantswarm.io/service-priority: "{{ .Values.global.metadata.servicePriority }}"
    {{- include "labels.common" . | nindent 4 }}
spec:
  suspend: false
  releaseName: cloud-provider-vsphere
  targetNamespace: kube-system
  storageNamespace: kube-system
  chart:
    spec:
      chart: cloud-provider-vsphere
      {{- $_ := set $ "appName" "cloud-provider-vsphere" }}
      version: {{ include "cluster.app.version" $ }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "resource.default.name" $ }}-{{ include "cluster.app.catalog" $ }}
  dependsOn:
    - name: {{ include "resource.default.name" $ }}-cilium
      namespace: {{ $.Release.Namespace }}
  kubeConfig:
    secretRef:
      name: {{ include "resource.default.name" $ }}-kubeconfig
  interval: {{ (((.Values.internal).helmReleases).cpi).interval | default "10m" }}
  install:
    remediation:
      retries: -1
  upgrade:
    remediation:
      retries: -1
  valuesFrom:
    - kind: Secret
      name: {{ include "credentialSecretName" $ }}
      valuesKey: "username"
      targetPath: "config.username"
    - kind: Secret
      name: {{ include "credentialSecretName" $ }}
      valuesKey: "escapedPassword"
      targetPath: "config.password"
  values:
    config:
      enabled: true
      vcenter: "{{ .Values.global.providerSpecific.vcenter.server }}"
      datacenter: "{{ .Values.global.providerSpecific.vcenter.datacenter }}"
      region: "{{ .Values.global.providerSpecific.vcenter.region }}"
      zone: "{{ .Values.global.providerSpecific.vcenter.zone }}"
      thumbprint: "{{ .Values.global.providerSpecific.vcenter.thumbprint }}"
    {{- if eq $.Values.cluster.providerIntegration.resourcesApi.controlPlaneResource.provider "kamaji" }}
    kamaji:
      enabled: true
    daemonset:
      affinity:
        nodeAffinity:
          requiredDuringSchedulingIgnoredDuringExecution:
            nodeSelectorTerms:
            - matchExpressions:
              - key: kubernetes.io/os
                operator: In
                values:
                - linux
      tolerations:
      - effect: NoExecute
        operator: Exists
      - effect: NoSchedule
        operator: Exists
    {{- end }}
