apiVersion: helm.toolkit.fluxcd.io/v2beta1
kind: HelmRelease
metadata:
  name: {{ include "resource.default.name" $ }}-kube-vip-cloud-provider
  namespace: {{ $.Release.Namespace }}
  annotations:
    cluster.giantswarm.io/description: "{{ .Values.global.metadata.description }}"
  labels:
    cluster-apps-operator.giantswarm.io/watching: ""
    giantswarm.io/service-priority: "{{ .Values.global.metadata.servicePriority }}"
    {{- include "labels.common" . | nindent 4 }}
spec:
  suspend: {{ include "isIpamSvcLoadBalancerEnabled" $ }} # It is unsuspended by the post-install/post-upgrade hook.
  releaseName: kube-vip-cloud-provider
  targetNamespace: kube-system
  storageNamespace: kube-system
  chart:
    spec:
      chart: kube-vip-cloud-provider
      {{- $_ := set $ "appName" "kube-vip-cloud-provider" }}
      version: {{ include "cluster.app.version" $ }}
      sourceRef:
        kind: HelmRepository
        name: {{ include "resource.default.name" $ }}-{{ include "cluster.app.catalog" $ }}
  dependsOn:
    - name: {{ include "resource.default.name" $ }}-cilium
      namespace: {{ $.Release.Namespace }}
  kubeConfig:
    secretRef:
      name: {{ include "resource.default.name" $ }}-kubeconfig
  interval: {{ (((.Values.internal).helmReleases).kubeVIPCPI).interval | default "10m" }}
  install:
    remediation:
      retries: -1
    cm:
      data:
        cidr-global: '{{ join "," .Values.global.connectivity.network.loadBalancers.cidrBlocks }}'
  upgrade:
    remediation:
      retries: -1