apiVersion: {{ include "infrastructureApiVersion" . }}
kind: VSphereCluster
metadata:
  annotations:
    "helm.sh/resource-policy": keep
  {{- range $annotation := .Values.global.providerSpecific.additionalVsphereClusterAnnotations }}
  {{ $annotation | indent 2 }}
  {{- end }}
  name: {{ include "resource.default.name" $ }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "labels.common" . | nindent 4 }}
    {{- include "preventDeletionLabel" $ | nindent 4 }}
spec:
  controlPlaneEndpoint:
    host: '{{ ((.Values.global.connectivity.network).controlPlaneEndpoint).host }}'
    port: {{ ((.Values.global.connectivity.network).controlPlaneEndpoint).port | default 6443 }}

  identityRef:
    kind: Secret
    name: {{ include "credentialSecretName" $ }}
  server: {{ .Values.global.providerSpecific.vcenter.server }}
  thumbprint: {{ .Values.global.providerSpecific.vcenter.thumbprint }}
