{{- if (include "isKamaji" $) }}
# ClusterRole for DataStore (cluster-scoped resource)
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ include "resource.default.name" $ }}-kamaji-etcd-helmrelease-datastores
  annotations:
    helm.sh/resource-policy: keep
  labels:
    {{- include "labels.common" $ | nindent 4 }}
rules:
  - apiGroups: ["kamaji.clastix.io"]
    resources:
      - datastores
    resourceNames:
      - {{ include "resource.default.name" $ }}
    verbs:
      - delete
      - get
      - patch
      - update
  - apiGroups: ["kamaji.clastix.io"]
    resources:
      - datastores
    verbs:
      - create
      - list
---
# ClusterRoleBinding for DataStore
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ include "resource.default.name" $ }}-kamaji-etcd-helmrelease-datastores
  annotations:
    helm.sh/resource-policy: keep
  labels:
    {{- include "labels.common" $ | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ include "resource.default.name" $ }}-kamaji-etcd-helmrelease-datastores
subjects:
  - kind: ServiceAccount
    name: automation
    namespace: {{ $.Release.Namespace }}
---
# Role for PolicyException (created in policy-exceptions namespace)
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ include "resource.default.name" $ }}-kamaji-etcd-helmrelease-polex
  namespace: policy-exceptions
  annotations:
    helm.sh/resource-policy: keep
  labels:
    {{- include "labels.common" $ | nindent 4 }}
rules:
  # For operations on existing PolicyExceptions (with name restriction)
  - apiGroups: ["kyverno.io"]
    resources:
      - policyexceptions
    resourceNames:
      - {{ include "resource.default.name" $ }}-kamaji-etcd  # Only this specific PolicyException
    verbs:
      - delete
      - get
      - patch
      - update
  # For listing and creating (can't use resourceNames with these verbs)
  - apiGroups: ["kyverno.io"]
    resources:
      - policyexceptions
    verbs:
      - create
      - list
---
# RoleBinding for PolicyException in policy-exceptions namespace
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ include "resource.default.name" $ }}-kamaji-etcd-helmrelease-polex
  namespace: policy-exceptions
  annotations:
    helm.sh/resource-policy: keep
  labels:
    {{- include "labels.common" $ | nindent 4 }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: {{ include "resource.default.name" $ }}-kamaji-etcd-helmrelease-polex
subjects:
  - kind: ServiceAccount
    name: automation
    namespace: {{ $.Release.Namespace }}
{{- end }}
